footer {
    background-color: #03629E;
    color: rgb(248, 219, 224);
    font-size: 14px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100vw;
    display: flex;
}