nav {
  height: 90px;
  color: rgb(248, 219, 224);
  background-color: rgb(114, 8, 114);
  display: grid;
  grid-template-columns: auto 8fr auto auto;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 6%;
}

nav a {
  background-color: rgb(114, 8, 114);
  color: rgb(248, 219, 224);
  font-size: 42px;
  font-weight: 500;
  text-decoration: none;
}

#home-icon {
  display: grid;
  position: relative;
  padding-right: 20px;
  background-color: rgb(114, 8, 114);
}

#home-icon-light {
  grid-row: 1;
  grid-column: 1;
  background-color: rgb(114, 8, 114);
}

#home-icon-hover {
  z-index: 2;
  grid-row: 1;
  grid-column: 1;
  background-color: rgb(114, 8, 114);
  opacity: 0;
}

#link-new {
  font-size: 22px;
  border: 2px solid rgb(248, 219, 224);
  background-color: #03629e;
  border-radius: 20px;
  padding: 6px 18px;
}

nav p {
  background-color: rgb(114, 8, 114);
  color: rgb(248, 219, 224);
  padding-left: 30px;
  font-weight: 700;
  display: grid;
  font-size: 14px;

}

nav p span {
  background-color: rgb(114, 8, 114);
  color: rgb(248, 219, 224);
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

nav p span span {
  font-style: none;
  font-size: 14px;
}

nav a:hover {
  color: rgb(255, 223, 40);
}

#link-new:hover {
  border: 2px solid rgb(255, 223, 40);
}

#home-icon-hover:hover {
  opacity: 1;
}
