form {
  border: 3px solid rgb(114, 8, 114);
  box-shadow: 6px 6px 3px 1px rgb(114, 8, 114, 0.2);
  border-radius: 30px;
  background-color: rgb(248, 219, 224);
  margin: 50px auto;
  width: 40vw;
  min-width: 400px;
  padding: 30px;
  display: grid;
  grid-template-columns: 100px 250px;
  justify-content: center;
  row-gap: 10px;
}

label {
  background-color: rgb(248, 219, 224);
  color: rgb(114, 8, 114);
}

input, select {
  border: 1px solid rgb(114, 8, 114);
  border-radius: 30px;
}

#amount {
  text-align:right;
}

#submit {
  grid-column: 2/3;
  width: 40%;
  margin-top: 20px;
}
