#transaction {
  display: grid;
  justify-content: center;
}

section {
  padding: 40px 80px;
  margin: 40px 0;
  display: grid;
  background-color: rgb(248, 219, 224);
  border: 3px solid rgb(114, 8, 114);
  box-shadow: 6px 6px 3px 1px rgb(114, 8, 114, 0.2);
  border-radius: 30px;
  width: 40vw;
  justify-content: center;
  text-align: center;
}

section h3 {
  font-size: 24px;
}

section h3,
section p span,
section p {
  background-color: rgb(248, 219, 224);
  margin: 4px;
}

section p span {
  font-weight: 700;
}

.smaller {
  font-size: smaller;
}

#details-buttons {
  display: flex;
  justify-content: space-around;
}

#details-buttons a {
  text-decoration: none;
  font-size: 18px;
}

#details-buttons a:hover {
  color: #F53B59;
  text-transform: uppercase;
}
