form {
  border: 3px solid rgb(114, 8, 114);
  box-shadow: 6px 6px 3px 1px rgb(114, 8, 114, 0.2);
  border-radius: 30px;
  background-color: rgb(248, 219, 224);
  margin: 50px auto;
  width: 40vw;
  min-width: 400px;
  padding: 30px;
  display: grid;
  grid-template-columns: 100px 250px;
  justify-content: center;
  row-gap: 10px;
}

label {
  background-color: rgb(248, 219, 224);
  color: rgb(114, 8, 114);
}

input,
select {
  border: 1px solid rgb(114, 8, 114);
  border-radius: 30px;
}

#amount {
  text-align: right;
}

form p {
  border: none;
  background-color: rgb(248, 219, 224);
  padding-left: 0;
  width: fit-content;
  height: fit-content;
  color: #f53b59;
  font-size: 18px;
}

#submit {
  grid-column: 2/3;
  width: 60%;
  margin-top: 26px;
  border: none;
  padding: 0;
  color: rgb(248, 219, 224);
  background-color: rgb(114, 8, 114);
}

form p:hover {
  cursor: pointer;
  text-transform: uppercase;
}

#submit:hover {
  color: #f5ea0a;
  cursor: pointer;
}
