#unordered-list {
  display: flex;
  justify-content: center;
}

ul {
  padding: 20px 40px;
  margin: 40px 0;
  display: grid;
  background-color: rgb(248, 219, 224);
  border: 3px solid rgb(114, 8, 114);
  box-shadow: 6px 6px 3px 1px rgb(114, 8, 114, 0.2);
  width: 50vw;
  border-radius: 30px;
}

ul li {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr 3fr;
  list-style: none;
  margin: 10px;
  border-bottom: 1px solid rgb(114, 8, 114);
  column-gap: 4px;
  background-color: rgb(248, 219, 224);
}

ul li a p,
ul li p, ul li h3 {
  background-color: rgb(248, 219, 224);
  color: rgb(114, 8, 114);
}

ul li a {
  text-decoration: none;
  background-color: rgb(248, 219, 224)
}

.amount-balance {
  text-align: right;
}

ul li a p:hover {
  color: #F53B59;
  text-transform: uppercase;
}

@media (max-width: 880px){
  ul li {
    grid-template-columns: 3fr 4fr 3fr 3fr;
  }
}

@media (max-width: 780px){
  ul {
    width: 60vw;
  }
  ul li {
    grid-template-columns: 3fr 4fr 3fr 3fr;
  }
}

@media (max-width: 680px){
  ul {
    width: 70vw;
  }
  ul li {
    grid-template-columns: 3fr 4fr 3fr 3fr;
  }
}

@media (max-width: 480px){
  ul {
    width: 90vw;
  }
  ul li {
    grid-template-columns: 4fr 3fr 2fr 2fr;
  }
}
