@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  background-color: rgb(250, 240, 240);
  margin: 0;
  font-family: "Sofia Sans", arial;
  color: rgb(114, 8, 114);;
  /* padding: 0; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

h1 {
  text-align: center;
  font-size: 40px;
}

.inRed {
  color: rgb(226, 16, 16);
}

.inGreen {
  color: #03629e;
}
